<div class="container-fluid">
  <div class="row justify-content-center text-center">
    <h1>Usuarios</h1>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-4">
      <form >

      </form>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-8">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Correo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of users">
            <td>{{item.name}}</td>
            <td>{{item.age}}</td>
            <td>{{item.email}}</td>
            <td>
              <button class="btn btn-sm"><i class="fa-duotone fa-user-pen" style="--fa-primary-color: #005eff; --fa-secondary-color: #707070; --fa-secondary-opacity: 1;"></i></button>
              <button class="btn btn-sm"><i class="fa-duotone fa-trash" style="--fa-primary-color: #ff0000; --fa-secondary-color: #707070; --fa-secondary-opacity: 1;"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
